<%- include('./partials/formatter') %>
    <div id = "rooms-container"> 
     <% VIPRounds.forEach( vip => { %>
        <div id="s<%= vip.id %>" class = "sticker">
            <div class = "sticker-info">
                <p><%= vip.title %></p>
                <p><%= vip.population %></p>
            </div>
            <div class = "sticker-timer">
                <p><%= vip.CDT %></p>
                <p id="label1">DAY      HRS      MNS</p>
            </div>
        </div> 
        <% }); %>
        <!-- <form action="./myrounds/enter/" method="GET" name="sendform"> -->
        <a id="sender" ></a>
        </form>
    </div>
    <div  id = "long-text">
        <p> <br><br><br><br><br><br><br><br><br>t Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br><br>
        <p> Sed libero enim sed faucibus turpis in. Rutrum tellus pellentesque eu tincidunt tortor. Urna condimentum mattis pellentesque id. Id porta nibh venenatis cras sed.</p><br><br>
        <p> Posuere lorem ipsum dolor sit. Ridiculus mus mauris vitae ultricies leo. Vestibulum morbi blandit cursus risus. Odio ut sem nulla pharetra diam sit amet.</p><br><br><br>
        <p> Placerat duis ultricies lacus sed turpis tincidunt. Mauris augue neque gravida in fermentum et sollicitudin.</P>
            <div>Ipsum consequat nisl vel pretium lectus quam id leo in. Gravida dictum fusce ut placerat orci. Dui accumsan sit amet nulla facilisi morbi tempus. Magnis dis parturient montes </p><br><br><br>
            <p>nascetur ridiculus mus mauris vitae ultricies. Et ultrices neque ornare aenean euismod. Cursus mattis molestie a iaculis at erat pellentesque adipiscing. Nisl pretium fusce id velit ut tortor. Vivamus arcu felis bibendum ut tristique et. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Quam nulla porttitor massa id neque aliquam vestibulum morbi. Aliquam purus sit amet luctus venenatis lectus magna fringilla. Ultrices vitae auctor eu augue. Suscipit tellus mauris a diam maecenas sed enim. Arcu bibendum at varius vel pharetra vel turpis nunc. Turpis egestas maecenas pharetra convallis posuere morbi leo. Molestie a iaculis at erat pellentesque adipiscing commodo elit.</div>
            <br><br><br><P>Eget duis at tellus at urna condimentum mattis pellentesque id. Cras tincidunt lobortis feugiat vivamus at augue eget. In iaculis nunc sed augue lacus viverra vitae. Urna nec tincidunt praesent semper feugiat nibh. Nunc congue nisi vitae suscipit. Diam quam nulla porttitor massa. Donec et odio pellentesque diam volutpat commodo sed egestas egestas. Quam id leo in vitae turpis. At urna condimentum mattis pellentesque id nibh tortor id aliquet. Urna nec tincidunt praesent semper feugiat. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Eu feugiat pretium nibh ipsum. Pharetra vel turpis nunc eget lorem dolor.
        </p>
        <p  class = "material-icons"> test account_circle group settings stars account_balance view_quilt help home information test</p>
    </div>

    <div id = "left-panel">
        <h1 class="logo guest"> LUCKY LOWS</h1>
        <div id = "brief-info" class = "info">
            <p><i class="material-icons" style="font-size: .8vw;">account_balance</i>6534867</p>
            <p><i class="material-icons" style="font-size: .8vw;">stars</i>320</p>
            <p><i class="material-icons" style="font-size: .9vw;">group</i>34200</p>
        </div>
        <div id="login-wrapper">
            <p class= "light">Login with </p>
            <a href="/auth/google">
            <img id="google-logo" src="/images/google-logo.png">
            </a>
        </div>
    </div>  


</body>
</html>