<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locky Lows. Like less likables to win.</title>
    <link rel="icon" href="/images/ll.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div  id = "long-text">
        <table id="rounds-table">
            <tr>
                <th>Title</th><th>Create</th><th>To Run</th><th>Count down</th><th>Population</th>
            </tr>
            <% rounds.forEach((round, index) => { %>
            <tr> 
              <td><%= round.title %></td>
              <td><%= starts[index] %></td>
              <td><%= round.counter < 0 ? "Loop":round.counter %></td>
              <td><%= CDTs[index] %></td>
              <td><%= round.Population %></td>
              <td><button class="clickable">X</button></td>
            </tr>   
            <% }); %>
        </table>
    </div>
    <div id = "left-panel">
        <h1 class = "logo"> LUCKY LOWS</h1>
        <div class = "top-info" > Your LLcoins balance : 
            <p style = "font-size: 1.3vw; "> <%= balance %> </p>
        </div>
        <div id = "brief-info" class ="info">
        <p>You can make and run as many 'Lucky Lows Rounds' as you want.
            At the right you can find a brief list of all of your Rounds.
            <br>
            To start builing a 'Lucky Lows Round', just press 'New' button.
        </p>
        <br><br><br>
            <p><a id="new" class="clickable btn" href="/mystudio/new">
              New</a></p><br>
            <p><a id="back" class="clickable btn" href="/dashboard">
              Back </a></p>
        </div>
        <div id = "messages" class ="info">
           
        </div>
        <a id="logout" class="clickable" href="/logout"> logout 
        </a>
    </div>  
</body>
</html>