<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locky Lows. Like less likables to win.</title>
    <link rel="icon" href="/images/ll.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="/JS/room.js"></script>
</head>
<body>
    <div class=" top-panel big">
        <p id = "room-timer">00:00:00</p>
    </div>
    <div  id = "long-text">
        <div id="canvas" data='<%= room._id %>'>
            <% for( var i=0; i < parseInt(room.subjects.length); i++) { %>
            <div class='make-subject-out' >   
                <div class='make-subject-main targeted' id= 'subj<%= i %>' 
                     data = '<%= room.subjects[i].id %>'
                     style='background-color: <%= room.subjects[i].backColor %>; color: <%= room.subjects[i].textColor %>;' >
                    <%= room.subjects[i].text %> 
                </div>
            </div> 
            <% } %>
        </div>
    </div>
    <div id = "left-panel"  <% if(user){ %> data='<%= user %><% } %> '>
        <p id="room-title", class="big"> LL <%= room.title %> </p>

        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
        <button id="lock-btn" class="clickable btn hidden" action="submit"> LOCK & LEAVE </button><br><br>

        <h1 class = "logo"> LUCKY LOWS</h1>

        <div id = "bottom-panel">
        <% if (!user ) { %>
            <p class= "light">To participate in LOCKY LOWS you should log in.</p>
            <p><a id="cancel" class="clickable" href="/">Back</a></p>
            <% } else { %>
            <p class= "light">Select one and lock it.</p>
            <p><a id="cancel" class="clickable" href="/dashboard">Back</a></p>  
            <% } %>          
        </div>
        <% if (!user ) { %>
        
        <div id="login-wrapper">
            <p class= "light">Login with </p>
            <a href="/auth/google">
            <img id="google-logo" src="/images/google-logo.png">
            </a>
        </div>
        <% } %>
    </div> 

</body>
</html>
        

